
header {
  height: 256px;
}

#body {
}

section.body-header {
  width: 100%;
  background-color: gold;
  text-align: center;
  color: #505050;
  font-size: 15px;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.schedule-table-div {
  margin-top: 50px;
}

.schedule-table {
  border: 0;
  border-collapse: collapse;
  font-size: 19px;
  margin:0 auto;
  color: #505050;
}

.schedule-table td, .schedule-table th {
  padding-right: 40px;
  text-align: left;
}

.schedule-table td.event-offset {
  border-bottom: solid #9BD7D5 1px;
}

.schedule-table tr:last-child td.event-offset {
  border-bottom-width: 0;
}

.schedule-table tr {
  line-height: 60px;
}

.schedule-table th {
  font-size: 30px;
}

span.schedule-table-header {
  font-size: 40px;
  color: #9BD7D5;
}
