
header {
  height: 250px;
}

#body {
  height: 1500px;
}

section.speaker {
  width : 80%;
  height: 300px;
  padding-left: 10%;
  padding-right: 10%;
  float: left;
  margin-top: 30px;
  margin-bottom: 300px;
}

section.speaker h2 {
  color: #9BD7D5;
  font-size: 25px;
  letter-spacing: 2px;
}

section.speaker h3 {
  color: #505050;
}

section.speaker p {
  color: #505050;
  font-size: 17px;
  line-height: 30px;
}

div.speaker-right img {
  margin-left: 200px;
  margin-top: 100px;
  border-radius: 30px;
}

div.speaker-right h3 {
  margin-left: 150px;
  text-align: center;
}

div.speaker-right h4 {
  margin-left: 150px;
  text-align: center;
}

section.body-header {
  width: 100%;
  height: 100px;
  background-color: #AAF200;
  text-align: center;
  padding-top: 50px;
  color: #505050;
  font-size: 15px;
}
