
#body {
  height:550px;
}

.container {
  margin-left: 20%;
}

.teaser {
  display: block;
  width: 20%;
  height: 410px;
  border: 0;
  float : left;
  margin:0 auto;
  margin-right: 80px;
  margin-top: 70px;
  font-size: 16px;
  border-radius: 25px;
  border:solid white 10px;
}

.teaser:hover {
  background-color: lightyellow;
  border:solid lightyellow 10px;
}

.teaser h4 {
  color: #505050;
  font-size: 17px;
}

.teaser img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.teaser h3 {
  color: #9BD7D5;
  font-size: 20px;
}
