
header {
  height: 256px;
}

#body {
}

section.map-section {
  display: inline-block;
  width: 80%;
  height: 400px;
  margin-left: 200px;
  margin-bottom: 60px;
  margin-top: 20px;
}

aside.map-details {
  float: left;
  height: inherit;
  width:30%;
  border:solid gold 0px;
}

aside.map-details h2 {
  color: #505050;
  font-size: 24px;
}

aside.map-details p {
  color: #505050;
  font-size: 17px;
}

aside.map-embedded {
  display: inline-block;
  width: 70%;
  height: inherit;
  border:solid gold 0px;
}

section.body-header {
  display: inline-block;
  width: 100%;
  background-color: #31C3E7;
  text-align: center;
  color: #505050;
  font-size: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
